html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }
@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

/*.class{

}
#id{

}
element {

}*/
body,html {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	background: #222;
	color: #aaa;
	height:100%;
}


h1{
	text-align: center;
	font-weight: 200;
	margin: 0.4em 0;
	vertical-align: middle;
	font-size: 3.5em;
	text-align: center;
	padding-top: 3%;
}
h2 {
	font-weight: 200;
	color: #888;
	font-size: 2em;
}
nav{
	margin : 0 auto;
	width: 100%;
	background-color: black;
	position: fixed;
	top: 0px;
}

nav ul{
	list-style-type: none;
}

nav ul li{
	float: left;
	width: 25%;
	text-align: center;
	position: relative;
}

nav ul::after{
	content:"";
	display: table;
	clear: both;
}

nav a{
	display: block;
	text-decoration: none;
	color: white;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
}

nav a:hover{
	color: white;
	border-bottom: 2px solid lightblue;
}

.ssmenu{
	display: none;
	box-shadow: 0px 1px 2px;
	background-color: black;
	position: absolute;
	width: 100%;
	z-index: auto;
}

nav > ul li:hover .ssmenu{
	display: block;
}

.ssmenu li{
	float: none;
	width: 100%;
	text-align: left;
}

.ssmenu a{
	padding: 10px;
	border-bottom: none;
}

.ssmenu a:hover{
	border-bottom: none;
	background-color: grey;
}

.lien{
	height: 40px;
	width: 40px;
	padding: 10px;
}

footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 20px;
	color: white;
	background-color: black;
}
.gauche{
	float: left;
	width: 85%;
}

.lienCont{
	float: right;
	padding-right: 30px;
}

.comp{
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 10px;
	padding: 10px 50px 20px 50px;
}
.comp h2{
	flex: 0 0 40%;
}
.bbarre{
	flex: 0 0 60%;
	border-radius: 5px;
	background-color: grey;
	border-bottom: 1px ridge grey;
}
.barre{
	display: block;
	height: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.barre50{
	width: 50%;
	background-color: lightblue;
}
.barre70{
	width: 70%;
	background-color: lightblue;
}

.barre85{
	width: 85%;
	background-color: lightblue;
}

.barre90{
	width: 90%;
	background-color: lightblue;
}
main{
	padding-bottom: 15%;
}
/* Pour téléphone */

@media screen and (min-width: 0px) and (max-width: 640px)
{
	/* Code */
}
